@model WebApplication1_mvc_poc_webgentle.Models.Employee

@{
    ViewBag.Title = "Home Page  ";
}
<html>
<head>
    @*<meta http-equiv="refresh" content="1" />*@
    <h3>@@Date & Time @DateTime.Now</h3>

</head>

<body>
    <table class="table">
        <tr>
            <td>
                Id
            </td>
            <td>
                @Model.id
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                @Model.name
            </td>
        </tr>
        <tr>
            <td>
                Address
            </td>
            <td>
                @Model.address
            </td>
        </tr>

    </table>@*@{
            bool isTrue = true;

            if (isTrue)
            {
                <h2>Yes it is True :)</h2>
            }
        }*@


    <div>
        @*@for (int i = 0; i < 10; i++)
            {
                <div style="background-color:aqua">
                    hello from loop  @i
                </div><br />

            }*@

        @{
            var list = new List<int>() { 1, 2, 3, 3, 5, 4, 55, 33, 65, 33, 2 };
        }
        @*<text>
                var list = new List<int>() { 1, 2, 3, 3, 5, 4, 55, 33, 65, 33, 2 };
            </text>*@
    </div>

    @*<div>
            @{
                foreach (var item in list)
                {
                    <h3>item = @item</h3>

                }
            }
        </div>*@

    <div>
        @Html.TextBox("textBox1","Name ",new { id="newIdTest",value="newValue",name="newName",@class="newClass"})

        @Html.CheckBox("1",true)
    </div>
    <div>
        @Html.Password()
    </div>
    <div>
        @Html.ActionLink("click here to redirect", "Contact")<br />
    </div>
    <div>
        @Html.ActionLink("click here to redirect from Employee Controller", "Address1", "Employee", new { name = "test success for sending parmeter through actionLink" })
    </div>
    <div>
        @Html.ActionLink("redirect from Employee Controller with parameter", "ParamteeWithActionLink", "Employee", new { name = "test success for sending parmeter through actionLink" })
    </div>

    <div>
        @Html.ActionLink("action link test-2", "ParamteeWithActionLink", new { name = "test success for sending parmeter through actionLink" })
    </div>
    <div>
        @helper MyListHelper(string[] str)
        {

            if (str.Length == 0)
            {
                <h4>no data exists</h4>
            }
            else
            {
                <ul>
                    @foreach (var item in str)
                    {
                        <li>@item</li>
                    }
                </ul>
            }

        }
    </div>
    <div>
        <label>new list 1</label>
        <div>
            @MyListHelper(new string[] { "amit", "rahul", "guddu" })
        </div>


        <label>new list 2 </label>
        <div>
            @MyListHelper(new string[] { ".net", "java", "python" })
        </div>

        <label>new list 3</label>
        <div>
            @MyListHelper(new string[] { "html", "css", "java script" })
        </div>

        <div>
            <label>Empty list</label>
            @MyListHelper(new string[] { })
        </div>

    </div>
</body>



</html>
